/***************************************************************/
/*Body Stylings*/
/***************************************************************/
html{
    height:100%;
    width:100%;
}

body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body.landing-page {
    background: url(../images/basketballBG.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.findGameBody {
    background: url(../images/createGamebg.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    ;
}

body.createGame {
    background: url(../images/createGamebg.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Main Homepage Text*/

#homeTextContainer {
    text-align: center;
    position: fixed;
    width: 50%;
    top: 20%;
    left: 25vw;
    right: 25vw;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding-bottom: 50px;
}

#homeTitle {
    font-family: 'BenchNine', sans-serif;
    font-size: 15em;
}

#homeTagline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    color: #000;
}

.navbar-link-author {
    height: 60px;
    color: #fff;
    line-height: 30px;
}


/***************************************************************/
/*Navbar Styles*/
/***************************************************************/
.navbar-default {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    border:none;
}

#logo {
    font-family: 'BenchNine', sans-serif;
    letter-spacing: -3px;
    font-size: 2em;
    color: white;
    padding: 10px;
    margin: 10px 10px;
    line-height: 33px;
}

/* all links */
a {
    display: inline-block;
}

.navbar a:hover {
    text-decoration:none;
    border-bottom: 3px solid white;
    transition: color 1s;
}

.navbar a {
    color:white;
}

a:active {
    color:white;
}


/***************************************************************/
/*Buttons*/
/***************************************************************/
.button {
     background-color: rgb(197, 202, 197);
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.createGameBtn {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.findGameBtn {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.createGameBtn:hover {
    background-color: #555555;
    color: white;
    border none;
}

.findGameBtn:hover {
    background-color: #555555;
    color: white;
    border none;
}

/***************************************************************/
/*Footer*/
/***************************************************************/
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-size:0.7em;
    height: 33px;
}

/***************************************************************/
/*Create Game styles*/
/***************************************************************/
#temp-warning,
#wind-warning {
    font-size: 1.5em;
    color: black;
    line-height: 49px;
}

#weather-info-div {
    height: 440px;
    border-radius: 5px;
    background-color: rgba(206, 231, 240, 0.8);
    padding: 10px;
}

.weather-data {
    font-size: 1em;
    margin: 5% 0;
}

/***************************************************************/
/*Weather warning div*/
/***************************************************************/
#weather-pulse-div {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 10px;
}


/*Drop Down*/

.dropdown-menu{
    width: 100%;

}
.btn{
    width: 100%;
}
#dropdownMenu2{
    margin-top: 20px;
    margin-bottom: 20px; 
}

.panel-heading {
    background-color: #337ab7;
}

.panel-transparent{
    background: none;
}

.panel-transparent {
    background: rgba(255, 255, 255, 0.5);
}

.panel-transparent .panel-body {
    background: rgba(255, 255, 255, 0.5);
}

.form-control {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}

:-ms-input-placeholder {  
    text-align: center; 
}


/* MAP STYLES */
#basketball-map,
#soccer-map,
#disc-golf-map {
    display: none;
    border:none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.form-group{
    margin-bottom: 22px;
}

/* footer */
#footerChange{
    margin-top: 3%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
  }

  .small{
    font-size: 12px;
    color: rgb(172, 161, 161);
  }


/***************************************************************/
/*Styling to The Games on the Page*/
/***************************************************************/
.live-game {
    padding: 16px;
    margin-bottom: 10px;
    border: solid grey;
    overflow: hidden;
}

.active-games h4 {
    margin: 0;
    color: black;
    font-size: 1em;
}

.active-games p {
    margin: 0;
    color: black;
    font-size: 1.2em;
    margin-bottom: -10px;
}

#map-holder {
    position: fixed;
}

.live-game:hover{
    background-color: rgb(230, 237, 243);
}

.game-location {
    white-space: nowrap;
}

.game-location:hover {
    color: #5a4dd5;
    cursor: pointer;
}

/*ADDED SOME STYLING TO MAKE IT MATCH*/

#weather-info-div h4{
    background-color: none;
    color:black;
}

#weather-info-div, .panel-default>.panel-heading, .panel-transparent .panel-body, {
     background-color: rgb(206, 231, 240);
     color: black;
}

.form-control{
    background-color: white;
    color: black;
}

 #dropdownMenu1{
    background-color: white;
    color: black;
 }

  .dropdown-menu>li>a, .open>.dropdown-menu, .dropdown-header { 
    background-color:white;
    color: black;
 }

 /***************************************************************/
/*Media Queries*/
/***************************************************************/
@media screen and (max-width:1199px){
    #map-holder {
        position: relative;
        margin-bottom: 15px;
        margin-left: 240px;
    }

    #wind-warning,
    #temp-warning {
        font-size: 1em;
    }
}

@media screen and (max-width:991px){
    #map-holder {
        margin-left: 10px;
        float: right;
        width: 48%;
    }
}

@media screen and (max-width:970px){
    #homeTitle {
        font-size: 10em;
    }
    #map-holder {
        position: relative;
        margin-left: 10px;
    }
}

@media screen and (max-width:686px){
    #homeTitle {
        font-size: 8.5em;
    }
    #homeTagline{
        font-size: 2em;
    }
}

@media screen and (max-width:500px){
    #homeTitle {
        font-size: 7em;
    }
    #homeTagline {
        font-size: 2em;
    }
}
@media screen and (max-width:476px){
    #homeTitle {
        font-size: 5em;
    }
    #homeTagline {
        font-size: 2em;
    }
}